// Palette
$color-primary: #4AB3F4;
$color-tertiary: #66757f;

// Hover
$color-primary-hover: #1da1f2;
$color-tertiary-hover: #f5f8fa;
$color-link-hover: #1c94e0;
$color-follow-hover: #e8f5fd;

// Background
$color-app-background: #e6ecf0;

// Decoration
$color-box-shadow: rgba(0,0,0,0.25);

// Brand
$color-logo: #38A1F3;

// Other
$color-dismiss: #ccd6dd;
$color-retweet: #17bf63;
$color-like: #e0245e;
$color-save-to-pocket: #ef3f56;