@import "colors";

.btn {
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  line-height: 20px;
  outline: none;

  &.btn-round {
    border-radius: 100px;
    padding: 6px 16px;
  }

  &.btn-tweet {
    background-color: $color-primary;
    color: white;  
    border: 1px solid $color-primary;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &.btn-follow {
    background-color: white;
    color: $color-primary-hover;  
    border: 1px solid $color-primary-hover;
    font-size: 12px;
    padding: 4px 12px;

    &:hover {
      background-color: $color-follow-hover;
    }
  }

  &.btn-edit-profile {
    background-color: white;
    color: $color-tertiary;
    border: 1px solid $color-tertiary;

    &:hover {
      background-color: $color-tertiary-hover;
    }
  }
}