@import "measures";
@import "colors";

header {
  display: flex;
  justify-content: center;
  color: $color-tertiary;
  height: 46px;
  border-bottom: 1px solid $color-box-shadow;
  font-weight: bold;

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $app-max-width;
  }

  // Center middle item inside flex container
  // Ref: https://stackoverflow.com/a/32546033/5046074
  .header-part {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &:first-child ul {
      margin-right: auto;
    }
    &:last-child ul {
      margin-left: auto;
    }
  }

  .header-logo {
    color: #38A1F3;
    font-size: 24px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;

    li {
      display: flex;
      height: 100%;
      align-items: center;
      border-bottom: 2px solid transparent;

      &.header-item-link.active, &.header-item-link:hover {
        color: $color-link-hover;
        border-bottom: 2px solid $color-link-hover;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      margin: 0 14px;

      .header-link-label {
        font-size: 13px;
        margin-left: 8px;
      }
    }

    &.header-list-extra {
      li + li {
        margin-left: 16px;
      }
    }
  }

  .search-container {
    display: flex;
    align-items: center;

    input {
      border-radius: 100px;
      padding: 6px 16px;
      border: 1px solid $color-app-background;
      background-color: $color-tertiary-hover;

      &:focus {
        border: 2px solid $color-primary-hover;
        background-color: white;
        outline: none;
      }
    }

    .search-icon {
      position: relative;
      left: -25px;
      top: -1px;
    }
  }
}