@import "measures";
@import "colors";

.profile-content {
  background-color: $color-app-background;

  .profile-content-container {
    max-width: $app-max-width;
    margin: 0 auto;
    width: 100%;
    display: flex;
  }

  .profile-content-col + .profile-content-col  {
    margin-left: $col-gutter;
  }

  .profile-content-left-col {
    width: $side-col-width;
  }

  .profile-content-middle-col {
    flex: 1;
  }

  .profile-content-right-col {
    width: $side-col-width;
  }
}