$color-link-base: #66757f;
$color-logo: #38A1F3;
$color-link-hover: #1c94e0;
$app-max-width: 1190px;

header {
  display: flex;
  justify-content: center;
  color: $color-link-base;
  height: 46px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $app-max-width;
  }

  // Center middle item inside flex container
  // Ref: https://stackoverflow.com/a/32546033/5046074
  .header-part {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &:first-child ul {
      margin-right: auto;
    }
    &:last-child ul {
      margin-left: auto;
    }
  }

  .header-logo {
    color: #38A1F3;
    font-size: 24px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;

    li {
      display: flex;
      height: 100%;
      align-items: center;

      &.active {
        color: $color-link-hover;
        border-bottom: 2px solid $color-link-hover;
      }
    }

    li + li {
      margin-left: 16px;
    }

    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;

      .header-link-icon {
        margin-left: 10px;
      }

      .header-link-label {
        font-size: 13px;
        margin-left: 8px;
        margin-right: 10px;
      }
    }
  }
}